/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#app {
    height: 100%;
    width: 100%;
}
.main-container, .container {
  height: 100%;
  width: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-default .navbar-nav > li > a.active {
    color: #555;
    background-color: #e7e7e7;
}

.cursor-pointer {
  cursor: pointer;
}

/* Map CSS
-------------------------------------------------- */
.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.leaflet-control-container{
  display: none;
}

/* Search bar */
@media (min-width: 768px) {
  .alert {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    -webkit-animation: fadein .75s;
    -moz-animation: fadein .75s;
    -ms-animation: fadein .75s;
    -o-animation: fadein .75s;
    animation: fadein .75s;
  }

  .btn {
    margin-top: 1.5rem;
  }
}

.search-input,
.search-input:focus,
.search-input:active {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: honeydew;
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
}
.autocomplete-container {
  border-bottom: honeydew !important;
  border-left: honeydew !important;
  border-right: honeydew !important;
  border-top: 1px solid #e6e6e6 !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
}
/* Suggestion box */
.suggestion-item {
  padding: 4px;
  text-align: left;
}
.suggestion-icon {
  margin-right: 8px;
}
.form-group {
  width: 92%
}